{% extends "manager/base.html" %}
{% load manager_extras %}

{% block title %}
Container Details
{% endblock %}
{% block page_title %}
Container Details
{% endblock %}
{% block head %}
<style>
button {
	width: 75%;
}
.col-lg-3 {
	text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Container: {{ details|get_item:"name" }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-4">
				<table>
					<th colspan="2">General</th>
					<tr>
						<td>Name:</td>
						<td>{{ details|get_item:"name" }}</td>
					</tr>
					<tr>
						<td>Container ID:</td>
						<td>{{ details|get_item:"id" }}</td>
					</tr>
					<tr>
						<td>Image:</td>
						<td>{{ details|get_item:"image" }}</td>
					</tr>

				</table>
			</div>
			<div class="col-lg-4">
				<table>
					<th colspan="2">Running Information</th>
					<tr>
						<td>State:</td>
						<td>
							{% if details|get_item:"is_running" %}
								Running
							{% elif details|get_item:"is_paused" %}
								Paused
							{% else %}
								Stopped
							{% endif %}
						</td>
					</tr>
					<tr>
						{% if details|get_item:"is_running" or details|get_item:"is_paused" %}
							<td>Start Time:</td>
							<td>{{ details|get_item:"start_time" }}</td>
						{% else %}
							<td>End Time:</td>
							<td>{{ details|get_item:"finish_time" }}</td>
						{% endif %}
					</tr>
					<tr>
						<td>Date Created:</td>
						<td>{{ details|get_item:"created_time" }}</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<table>
					<th colspan="2">Performance</th>
					<tr>
						<td>CPU Shares:</td>
						<td>{{ details|get_item:"cpu_shares" }}</td>
					</tr>
					<tr>
						<td>Memory:</td>
						<td>{{ details|get_item:"memory" }}</td>
					</tr>
					<tr>
						<td>Memory Swap:</td>
						<td>{{ details|get_item:"memory_swap" }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Manage Container</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-3">
				<button type="button" class="btn btn-info btn-lg">Save Image</button>
			</div>
			<div class="col-lg-3">
				<button type="button" class="btn btn-success btn-lg">Start Container</button>
			</div>
			<div class="col-lg-3">
				<button type="button" class="btn btn-warning btn-lg">Pause Container</button>
			</div>
			<div class="col-lg-3">
				<button type="button" class="btn btn-danger btn-lg">Stop Container</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
	$("#nav-status").addClass("selected");
});
</script>
{% endblock %}