{% extends "manager/base.html" %}
{% load widget_tweaks %}

{% block title %}
New Instance
{% endblock %}
{% block page_title %}
Create New Containers
{% endblock %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Select Options</h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'manager.views.create_image' %}" method="get" role="form">
            {{ form.non_field_errors }}
            <table class="form-group">
                <tbody>
                    <tr>
                        <td><label for="id_name">Container Name: </label></td>
                        <td>{{ form.name|add_class:"form-control" }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_quantity">Number of Containers: </label></td>
                        <td>{{ form.quantity|add_class:"form-control" }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_image">Select Image: </label></td>
                        <td>{{ form.image|add_class:"form-control" }}</td>
                    </tr>
                    <tr style="height:1em"></tr>
                    <tr>
                        <td><input type="submit" class="form-control" value="Launch Container" /></td>
                    </tr>
                </tbody>
            </table>
        </form> 
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $("#nav-create").addClass("selected");
});
</script>
{% endblock %}