{% extends "manager/base.html" %}
{% load widget_tweaks %}

{% block title %}
Image Details
{% endblock %}
{% block page_title %}
Image: {{ tag }} ({{ id }})
{% endblock %}
{% block content %}
<div class="col-lg-8">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Launch Container from Image</h3>
		</div>
		<div class="panel-body">
			<form action="{% url 'manager.views.create_container' %}" method="get" role="form">
				{{ form.non_field_errors }}
				<div class="row" style="text-align:center;">
					<div class="col-lg-8">
						{% render_field form.container_name class="form-control btn-lg" placeholder="Container Name" %}
						{% render_field form.image_id style="display:none;" class="hidden-field"%}
					</div>
					<div class="col-lg-4">
						<button type="submit" class="btn btn-success" style="width:100%;">Launch Container</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Remove</h3>
		</div>
		<div class="panel-body" style="text-align:center;">
			<a class="btn btn-danger" style="width:75%;" href="{% url 'manager.views.delete_image' %}?id={{ id }}">Delete Image</a>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">

$(document).ready(function() {
	$("#nav-images").addClass("selected");
	$(".hidden-field").val("{{ id }}")
});

/***************************************
 ***** ADD SCRIPT TO VALIDATE FORM *****
 ***************************************/

</script>
{% endblock %}