{% extends "manager/table_base.html" %}
{% load manager_extras %}

{% block title %}
Images
{% endblock %}
{% block page_title %}
Manage Images
{% endblock %}
{% block panel_title %}
Images
{% endblock %}
{% block table %}
<table>
	<thead>
		<tr>
			<td>Number</td>
			{% for heading in keys %}
				<td>{{ heading }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for image, info in images.items %}
			<tr class="clickable-row" href="{% url 'manager.views.image_details' %}?id={{ images|get_item:image|get_item:'IMAGE ID' }}">
				<td>{{ image }}</td>
				{% for key, value in info.items %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block extra_footer %}
<script type="text/javascript">
$(document).ready(function() {
	$("#nav-images").addClass("selected");
	$(".clickable-row").click(function() {
		window.document.location = $(this).attr("href");
	});
});
</script>
{% endblock %}