{% extends "manager/table_base.html" %}
{% load manager_extras %}

{% block title %}
Containers
{% endblock %}
{% block page_title %}
View Containers
{% endblock %}
{% block panel_title %}
Containers
{% endblock %}
{% block table %}
<table>
	<thead>
		<tr>
			<td>Number</td>
			{% for heading in keys %}
				<td>{{ heading }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for container, info in containers.items %}
			<tr class="clickable-row" href="{% url 'manager.views.container_details' %}?id={{ containers|get_item:container|get_item:'CONTAINER ID' }}">
				<td>{{ container }}</td>
				{% for key, value in info.items %}
					<td>{{ value }}</td>	
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block extra_footer %}
<script type="text/javascript">
$(document).ready(function() {
	$("#nav-status").addClass("selected");
	$(".clickable-row").click(function() {
		window.document.location = $(this).attr("href");
	});
});
</script>
{% endblock %}