{% extends "manager/table_base.html" %}
{% block title %}
Status
{% endblock %}
{% block page_title %}
View Containers
{% endblock %}
{% block panel_title %}
Containers
{% endblock %}
{% block table %}
<table>
	<thead>
		<tr>
			<td>Number</td>
			{% for heading in keys %}
				<td>{{ heading }}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for container, info in containers.items %}
			<tr>
				<td>{{ container }}</td>
				{% for key, value in info.items %}
					<td>{{ value }}</td>	
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block extra_footer %}
<script type="text/javascript">
$(document).ready(function() {
	$("#nav-status").addClass("selected");
});
</script>
{% endblock %}